* {
  margin: 0; padding: 0;
}

::-moz-selection { 
  background: #009b77;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #009b77;
  color: #fff;
  text-shadow: none;
}

body {
  font-size: 12px;
  font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{
  display:block;
}

.title {
  font-size: 24px;
  font-weight: normal;
}

h1, h2, h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

h1 {
  font-size: 18px;
}
h1 a {
  color: #000;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

hr { margin: 25px auto; }

/* ul, ol */
ul > li { list-style: none; }
ol, li { margin: 15px 0; }
li p:last-child { margin:0 }

a {
  text-decoration: none; color: #d63135;
}
a:hover {
  color:#009b77;
  border-bottom: 1px solid #009b77;
}

/* code */
code {
  margin: 0 3px;
  padding: 3px 5px;
  background: #f7f7f7;
  color: #555;
  font-family: verdana;
}

pre code {
  display: block;
  margin: 10px 15px;
  padding: 10px;
  line-height: 20px;
  whitewhite-space: pre-wrap; /* css-3 */ 
  whitewhite-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
  whitewhite-space: -pre-wrap; /* Opera 4-6 */ 
  whitewhite-space: -o-pre-wrap; /* Opera 7 */ 

  word-wrap:break-word; /* Internet Explorer 5.5+ */ 
  white-space: pre-wrap; /* Firefox */
}

