.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

/* header */
header {
  margin: 20px 20px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

header .title a { color: #333; }
header .bio { margin: 10px 0 0 5px; }

/* entry */
.entry-list article {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.entry-preview a {
  margin-right: 5px;
}
.entry-preview img { width: 130px;
  padding: 5px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
}

.entry-title { font-weight: normal;
  color: #21759b;
}

.entry-tag {
  font-size: 100%;
  color: #666;
}

.entry-content { margin-top: 30px; font-size: 13px; text-align: justify; }
.entry-content h1 {
  margin-bottom: 10px;
}
.entry-content h2 {
  margin-top: 30px;
  border-left: 5px solid #009b77;
  padding-left: 10px;
}
.entry-content p { margin-bottom: 10px;
  line-height: 24px; }

.entry-content ol {
  padding-left: 20px;
}

.entry-category { margin-top: 30px; }

nav.friend-links { }
nav.friend-links a {
  margin-right: 10px;
}

/* aside */
aside {
  padding: 10px;
}

aside.second {
  margin-top: 40px;
  background: #f9f9f9;
  border-radius: 4px;
}

aside dl {
  margin-bottom: 20px;
}

aside dt {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 13px;
  border-bottom: 1px solid #999;
}

aside dd {
  margin-bottom: 10px;
}

aside dd a { color: #000; }

/* footer */
footer { clear: both; margin: 20px 20px 0 20px;
  line-height: 40px;
  border-top: 1px solid #ededed;
  font-size: 11px;
}

/* pic */
.pic { }
.pic img {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}

/* blockquote */
blockquote{
  color:#666666;
  margin: 10px 15px;
  padding-left: 1em;
  border-left: 0.5em #009b77 solid;
}
blockquote p { margin-bottom: 0!important;
  display: inline!important; /* why? */
}
blockquote:before {
  left: -10px;
  color: #f1f1f1;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: .25em;
  vertical-align: -.4em;
  color: #009b77;
}
blockquote ol { padding-left: 40px; }

/* responsitive */
@media only screen and (max-width: 768px) {
  .content {
    margin: 20px;
  }
  aside {
    margin: 20px;  
  }
}

@media only screen and (min-width: 769px) {
  .content {
    float: left;  
    margin: 40px 0 0 20px;
    width: 600px;
  }
  
  aside {
    float: left;
    margin-left: 20px;
  }
  
  aside.second {
    width: 242px;
  }

  pre code {
    /*
    max-width: 500px; 
    */
  }
}
