* { margin: 0; padding: 0; }
body { font-size: 12px;
  font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
h1 { font-size: 22px; font-weight: normal; }
h2 {
  font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
h2 a {color:#000;}

::-moz-selection { 
background: #009b77;
color: #fff;
text-shadow: none;
}

::selection {
background: #009b77;
color: #fff;
text-shadow: none;
}

ul > li { list-style: none; }
a { text-decoration: none; color: #ccc; }
a:hover {color:#009b77;
  border-bottom: 1px solid #009b77;
}

code {
  margin: 0 3px;
  padding: 3px;
  border-left: 1px solid #009b77;
  border-left-width: 0.4em;
  background: #f9f9f9;
  color: #000;
  font-family: verdana;
}

pre code {
  display: block;
  margin: 10px 15px;
  padding: 10px;
  width: 500px;
  line-height: 20px;
  whitewhite-space: pre-wrap; /* css-3 */ 
  whitewhite-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
  whitewhite-space: -pre-wrap; /* Opera 4-6 */ 
  whitewhite-space: -o-pre-wrap; /* Opera 7 */ 

  word-wrap:break-word; /* Internet Explorer 5.5+ */ 
  white-space: pre-wrap; /* Firefox */
}

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

header {
  margin: 20px 20px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

header .title a { color: #333; }
header .bio { margin: 10px 0 0 2px; }

.content {
  float: left;  
  margin: 40px 0 0 20px;
  width: 600px;
}

.entry-list article {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.entry-preview a {
  margin-right: 5px;
}
.entry-preview img { width: 130px;
  padding: 5px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
}

.entry-title { font-weight: normal;
  color: #21759b;
}

.entry-tag {
  font-size: 100%;
  color: #666;
}

.entry-content { margin-top: 30px; font-size: 13px; text-align: justify; }
.entry-content p { margin-bottom: 10px; line-height: 24px; }

.entry-category { margin-top: 30px; }

nav.friend-links { }
nav.friend-links a {
  margin-right: 10px;
}

aside {
  float: left;
  margin-left: 20px;
  padding: 10px;
}
aside.second {
  margin-top: 40px;
  width: 242px;
  background: #f9f9f9;
  border-radius: 4px;
}

aside dl {
  margin-bottom: 20px;
}

aside dt {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 13px;
  border-bottom: 1px solid #999;
}

aside dd {
  margin-bottom: 10px;
}

aside dd a { color: #000; }

.douban td {
  padding: 0 5px;
}

.sponsor {
}

footer { clear: both; margin: 20px 20px 0 20px;
  line-height: 40px;
  border-top: 1px solid #ededed;
  font-size: 11px;
}

.comment a {color:#000;}

.pic { display: block; margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}
.pic img { display: block; margin: 10px; width: 580px; }


ol, li { margin: 15px 0; }
li p:last-child { margin:0 }

blockquote{
  color:#666666;
  margin: 10px 15px;
  padding-left: 1em;
  border-left: 0.5em #009b77 solid;
}
blockquote p { margin-bottom: 0!important;
    display: inline!important; /* why? */
}
blockquote:before {
    left: -10px;
    color: #f1f1f1;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: .25em;
    vertical-align: -.4em;
    color: #009b77;
}
blockquote ol { padding-left: 40px; }
/* color: #f9f9f9; */

.bloggerads {display:block;padding:10px 0; text-align: center;}
.bloggerads-ref img {width: 80px;}
